html {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
    transition: all 1s ease;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}


.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1716px;
    width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container-1 {
    background-color: red;
}

@media (max-width: 1024px) {
    .container-1 {
        background-color: orange;
    }

    h1 {
        font-size: 18px;
    }
}

@media (max-width: 768px) {
    .container-1 {
        background-color: green;
    }

    h1 {
        font-size: 15px;
    }
}

@media (max-width: 576px) {
    .container-1 {
        background-color: pink;
    }

    h1 {
        font-size: 13px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .container-1 {
        background-color: blue;
    }
}

@media (min-width: 375px) {
    .container {
        background-color: blueviolet;
    }
}

.container-2 {
    padding: 20px;
}

.example {
    margin: 20px 0;
}

.example-1 h2 {
    margin-bottom: 20px;
}

.list {
    background-color: indianred;
    padding: 20px;
    list-style: none;
    border-radius: 8px;
}

.list__item {
    padding: 8px 12px;
    color: #fff;
}

h2::before {
    content: "This is ";
}

h2::after {
    content: "";
    position: absolute;
    width: 30px;
    height: 40px;
    background-color: orange;
    left: 0;
    right: 0;
}

.example-1 .list .list__item:first-child {
    background-color: green;
}

.example-1 .list .list__item:last-child {
    background-color: yellow;
}

.example-3 .list .list__item:nth-child(1) {
    background-color: green;
}

.example-3 .list .list__item:nth-child(4) {
    background-color: green;
}

.example-4 .example__content h1 + p {
    background-color: red;
}



