html {
    box-sizing: border-box;
    font-size: 16px;
}

html,
body {
    height: 100%;
}

*,
*::after,
*::before {
    box-sizing: inherit;
    padding: 0;
    margin: 0;

    font-family: sans-serif;
}

a {
    color: inherit;
    text-decoration: none;
}

ul,
ol {
    margin: 0;
    padding-left: 0;
    list-style: none;
}


.container {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1024px;
    width: 100%;
}

.visually-hidden:not(:focus):not(:active),
input[type='checkbox'].visually-hidden,
input[type='radio'].visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.grid {
    margin: 16px 0;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 8px;
}

.grid>h2 {
    margin: 16px 0;
    color: #111;

}

.grid-container {
    padding: 10px;
    border-radius: 10px;
    background-color: #ccc;
}

.grid__item {
    background-color: #f86f3c;
    box-shadow: -1px -2px 5px -4px inset #000000;
    border-radius: 8px;
    padding: 8px;
    color: #fff;
}

.example-1 .grid-container {
    display: grid;
    /*  grid-template-columns: 1fr 2fr 3fr 1fr;*/
    grid-template-columns: repeat(2, 1fr 2fr);
    column-gap: 15px;
    row-gap: 20px;
}

.example-2 .grid-container {
    display: grid;
    //grid-template-columns: 1fr 2fr 3fr 1fr;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 15px;
    row-gap: 20px;
    /*     grid-template-rows: minmax(100px, auto) 150px 200px;
 */
    grid-auto-rows: minmax(100px, auto);
}

.example-3 .grid-container {
    display: grid;
    grid-template-columns: 200px 200px;
    justify-content: space-between;
    /*     align-items: center;
 */
    align-content: center;
    gap: 40px;

}

.example-4 .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

}

.example-4 .grid__item-1 {
    /*  grid-column-start: 1;
    grid-column-end: 4; */
    grid-column: 1 / 3;
}

.example-4 .grid__item-4 {
    /*  grid-column-start: 1;
     grid-column-end: 4; */
    grid-row-start: 2;
    grid-row-end: 5;
    grid-row: 2 / 5;
}

.example-5 .grid-container {
    display: grid;
    grid-template-areas:
        "header header header"
        "sidebar content content"
        "sidebar content content"
        "footer footer footer";
}

.example-5 .grid__header {
    grid-area: header;
}

.example-5 .grid__sidebar {
    grid-area: sidebar;
}

.example-5 .grid__content {
    grid-area: content;
}

.example-5 .grid__footer {
    grid-area: footer;
}

.parent-grid {
    font-size: 2rem;
}

.parent {
    font-size: 2em; /* according to parent element body */
}

.child {
    font-size: 2em;/* according to parent element .parent */
}

.el2 {
    font-size: 2em;/* according to parent element .child */
}

.grid-container {
    display: grid;
    grid-template-columns: 100px 1fr 20% 20vw;
    grid-template-rows: repeat(3, 150px);
    gap: 20px;
}

.grid-child {
    background: purple;
    padding: 25px;
    grid-row: auto;
    
}

.grid-child:nth-child(8) {
    grid-column: 3 / end;
}

.example-6 .grid-container {
   grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}